@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.create-find--sec {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include tablet {
    display: block;
  }
  @include mobile {
    display: block;
  }

  .section {
    padding: 60px;
    height: 381px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    z-index: 1;

    @include tablet {
      height: 300px;
    }
    @include mobile {
      padding: 20px;
      height: 207px;
      justify-content: space-around;
    }
  }

  .left-sec {
    background: $theme-bg;

    @include tablet {
      text-align: right;
    }
    @include mobile {
      text-align: right;
    }

    .image-box {
      @include tablet {
        right: auto;
        left: 10px;
        transform: rotateY(180deg);
        z-index: -1;
      }

      @include mobile {
        right: auto;
        left: 0px;
        bottom: 0;
        top: auto;
        transform: rotateY(180deg);
        z-index: -1;
      }

      .image {
        @include tablet {
          max-width: 80%;
          display: block;
          height: auto;
          margin-left: auto;
        }
        @include mobile {
          max-width: 65%;
          display: block;
          height: auto;
          margin-left: auto;
        }
      }
    }

    .heading {
      @include tablet {
        margin-left: auto;
      }
      @include mobile {
        margin-left: auto;
      }
    }
  }
  .right-sec {
    background: $theme-seagreen;

    .image-box {
      @include tablet {
        right: -55px;
      }
      @include mobile {
        right: -110px;
        bottom: 0;
        top: auto;
      }

      .image {
        @include tablet {
          max-width: 80%;
          display: block;
          height: auto;
        }
        @include mobile {
          max-width: 60%;
          display: block;
          height: auto;
        }
      }
    }
    .heading {
      @include tablet {
        max-width: 60%;
      }
    }
  }
  .heading {
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    max-width: 70%;

    @include mobile {
      font-size: 20px;
      line-height: 28px;
      font-weight: 600;
    }
  }
  .register-btn {
    border-color: $white;
    color: $white;
  }
  .find-btn {
    border-color: $theme-bg;
    color: $theme-bg;

    @include iphone5 {
      // max-width: 50%;
    }
  }
  .button {
    @include mobile {
      font-size: 11px;
    }
  }
  .image-box {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
