@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.hero-carousel--sec {
  padding-top: 70px;

  .carousel-inner {
    overflow: inherit;
  }
  .carousel {
    min-height: 600px;
    background: $theme-bg;
    z-index: 1;

    @include mobile {
      min-height: 540px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../../static/assets/images/arc-2.svg") no-repeat;
      z-index: -1;

      @include tablet {
        display: none;
      }
      @include mobile {
        display: none;
      }
    }
    &::after {
      content: "";
      position: absolute;
      right: 0px;
      top: 0;
      width: 443px;
      height: 100%;
      background: url("../../static/assets/images/arc-3.svg") no-repeat;
      z-index: -1;

      @include tablet {
        opacity: 0.3;
      }
      @include mobile {
        opacity: 0.3;
        width: 220px;
        background-size: 100% 70%;
      }
    }
  }

  .carousel-indicators {
    bottom: 300px;

    @include mobile {
      bottom: 280px;
    }

    li {
      width: 5px;
      height: 5px;
      border-radius: 100%;
      border: none;
    }
  }
  .carousel-caption {
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 60px 0 0 0;
    color: $theme-black;
    text-align: left;

    @include mobile {
      padding: 75px 0 0 0;
    }

    .slider-content {
      padding: 0 60px;

      @include mobile {
        padding: 0 20px;
      }

      &.center {
        text-align: center;
      }
    }

    .heading {
      font-weight: 500;
      letter-spacing: -2px;
      color: $white;
      max-width: 50%;
      margin: 0 0 22px;

      @include tablet {
        max-width: 90%;
      }
      @include mobile {
        max-width: 100%;
        margin: 0 auto 10px;
      }

      &.lg {
        font-size: 60px;
        line-height: 66px;

        @include mobile {
          font-size: 30px;
          line-height: 38px;
        }
      }
      &.md {
        font-size: 42px;
        line-height: 56px;

        @include mobile {
          font-size: 26px;
          line-height: 32px;
        }
        @include iphone5 {
          font-size: 22px;
          line-height: 28px;
        }
      }
    }

    .description {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      opacity: 0.7;
      margin-bottom: 40px;

      @include mobile {
        font-size: 13px;
        margin-bottom: 20px;
      }
      @include iphone5 {
        font-size: 12px;
        line-height: 18px;
      }
    }

    .slider-rt-image {
      right: 0;
      bottom: -225px;

      @include tablet {
        display: none;
      }
      @include mobile {
        display: none;
      }
    }
  }
}
