@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.button {
  border-radius: 100px;
  background: $white;
  color: rgba($theme-black, 0.7);
  border: 1px solid rgba($theme-black, 0.3);
  padding: 0px 20px;
  height: 46px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.primary {
    background: $theme-primary;
    color: $white;
    border: 1px solid $theme-primary;
  }

  &.transparent-btn {
    background: transparent;
  }

  &.btn-sm {
    height: 38px;
  }
  &.btn-lg {
    height: 48px;
    padding: 0 30px;
    font-size: 15px;
  }
  &:hover {
    opacity: 0.9;
  }

  &:focus,
  &:focus-visible {
    box-shadow: none;
    outline: none;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .btnIcon {
    &.left,
    &.right {
      width: 12px;
      height: 12px;
    }

    &.left {
      margin-right: 16px;
    }

    &.right {
      margin-left: 16px;
    }
  }
}
