@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.testimonial--sec {
  padding: 60px;
  position: relative;
  z-index: 1;

  @include mobile {
    padding: 20px 20px 50px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 685px;
    height: 506px;
    right: 0;
    top: 30px;
    background: url("../../static/assets/images/arc-faded.svg") no-repeat;
    z-index: -1;

    @include mobile {
      top: 0;
    }
  }

  .heading {
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
    color: $theme-bg;
    text-align: center;
    margin-bottom: 50px;

    @include tablet {
      margin-bottom: 30px;
      font-size: 32px;
      line-height: 44px;
    }
    @include mobile {
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 34px;
    }
  }

  .slider-content-block {
    margin: 5px 0px 20px;
    position: relative;
    z-index: 1;

    @include tablet {
      margin: 0 0 50px;
    }
    @include mobile {
      margin: 0 0 20px;
    }

    .media-box {
      background: $gray-e5;
      border-radius: 20px;
      min-height: 400px;

      @include mobile {
        min-height: 200px;
      }

      video {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .testimonial-content {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: 70%;
      margin-top: 30px;

      @include tablet {
        max-width: 100%;
        margin-top: 50px;
      }
      @include mobile {
        max-width: 100%;
        margin-top: 10px;
      }

      .message {
        color: $theme-bg;
        font-size: 32px;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: 0.38px;
        margin-bottom: 16px;
        position: relative;

        @include mobile {
          font-size: 16px;
          line-height: 24px;
          font-style: italic;
          letter-spacing: -0.12px;
          text-align: center;
          padding: 0px 20px;
        }

        &::before {
          content: "“";
          position: absolute;
          top: -55px;
          left: -8px;
          width: 55px;
          height: 55px;
          color: $theme-primary;
          font-size: 100px;
          font-weight: bold;
          line-height: 108px;
          letter-spacing: 0.62px;

          @include tablet {
            left: 0;
          }
          @include mobile {
            font-size: 44px;
            line-height: 50px;
            top: -10px;
            left: -8px;
            width: 20px;
            height: 20px;
          }
        }
      }
      .user-name,
      .user-details {
        opacity: 0.7;
        color: $theme-bg;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.26px;

        @include mobile {
          text-align: center;
          font-size: 14px;
          line-height: 20px;
        }
      }
      .action-box {
        margin-top: 32px;

        @include mobile {
          text-align: center;
          margin-top: 20px;
        }

        .try-now-btn {
          border-color: $theme-bg;
          color: $theme-bg;

          @include mobile {
            margin: 0 auto;
          }
        }
      }
    }
  }

  .slick-dots {
    li {
      margin: 0;

      & + li {
        margin-left: 5px;
      }
    }
    li,
    button {
      width: 10px;
      height: 10px;
    }
    button {
      &::before {
        width: 10px;
        height: 10px;
        line-height: 10px;
      }
    }
  }

  .thumbnail-slider {
    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
    .slick-prev,
    .slick-next {
      background: $white;
      border: 1px solid $theme-bg;
      border-radius: 100%;
      width: 40px;
      height: 40px;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
      }

      &.slick-disabled {
        border-color: rgba($theme-bg, 0.25);

        &::before {
          opacity: 0.25;
        }
      }
    }

    .slick-prev {
      left: -45px;

      &::before {
        background: url("../../static/assets/images/icons/chevron-left.svg") no-repeat;
        background-size: contain;
      }
    }

    .slick-next {
      right: -45px;

      &::before {
        background: url("../../static/assets/images/icons/chevron-right.svg") no-repeat;
        background-size: contain;
      }
    }
    .slick-slide {
      cursor: pointer;

      &.slick-current {
        .slider-thumbnail-block {
          background: #f2f4f7;
        }
      }

      .slider-thumbnail-block {
        padding: 20px;
        border: 1px solid $gray-e5;
        border-radius: 16px;
        background: $white;
        margin: 0 10px;

        .user-img {
          width: 52px;
          height: 52px;
          object-fit: contain;
          border-radius: 100%;
          background: rgba($black, 0.05);
        }
        .username {
          font-size: 18px;
          font-weight: 600;
          line-height: 14.4px;
          color: $theme-bg;
          margin-bottom: 8px;
        }
        .user-details {
          font-size: 14px;
          font-weight: 400;
          line-height: 13.3px;
          color: $theme-bg;
          letter-spacing: 0.02px;
        }
      }
    }
  }
}
