// ######################################## //
// ## COLORS.SCSS ## //
// ######################################## //

// Black (Gray) Color Shades
$black: #000000;
$gray-1: #111111;
$gray-2: #222222;
$gray-3: #333333;
$gray-4: #444444;
$gray-5: #555555;
$gray-6: #666666;
$gray-7: #777777;
$gray-8: #888888;
$gray-9: #999999;
$gray-a: #aaaaaa;
$gray-b: #bbbbbb;
$gray-c: #cccccc;
$gray-d: #dddddd;
$gray-e: #eeeeee;
$white: #ffffff;
$gray-dark: #c9cdd8;
$gray-light: #b7bac3;
$label-text: #6f7588;
$border-color: #eceef4;
$arrow-color: #a8b1ce;
$theme-black: #212123;
$gray-4d: #4d4d4d;
$gray-e5: #e5e5e5;

// Color Shades (Theme Based - Xclusive)
$theme-primary: #823cff;
$theme-secondary: #121654;
$theme-success: #037e56;
$theme-info: #9c6dff;
$theme-warning: #ff8238;
$theme-warning-secondary: #a38b73;
$theme-warning-light: #fad9b2;
$theme-danger: #e24c4b;
$theme-yellow: #ea9d04;
$theme-cyan: #35d2cc;
$theme-pink: #c83375;
$theme-link: #004b8f;
$theme-purple: #b469ff;
$theme-orange: #f85b24;
$theme-bg: #1e0a3c;
$theme-seagreen: #30f2c0;
